.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: skyblue;

}
.flex-container > div{
    background: lightcoral;
    padding: 5px;
    width: 100;
    height: 150;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    text-align:center;
}
